{% extends "layout.html" %}
{% block head %}


<body>       
    <h1>Panel de control</h1>
    <div class ="panel">
        <ul>
            <li><a href="/lights">Luces</a></li>
            <li><a href="/temperature">Verificar Temperatura</a></li>
            <div class="boton">
                <button class="btn btn-primary btn-lg ">Abrir o cerrar puerta</button>
            </div>
        </ul>


    </div>
    

    <div class ="nod32"> 
        <img src="/static/images/no32.png" alt="no disponible" height="500" width="500" align = "left">
    </div>
    
</body>

{% endblock %}